<form #jetpayForm="ngForm" (ngSubmit)="generateHash()" class="form-container" fxLayout="column" fxFlexFill>
    <br />
    <md-input-container>
        <input mdInput [(ngModel)]="tid" type="text" id="tid" name="tid" placeholder="tid" required>
    </md-input-container>
    <md-input-container>
        <input mdInput [(ngModel)]="amount" type="text" name="amount" id="amount" placeholder="amount" required>
    </md-input-container>

    <md-input-container>
        <input mdInput [(ngModel)]="token" type="text" name="token" id="token" placeholder="token" required>
    </md-input-container>

    <md-input-container>
        <input mdInput [(ngModel)]="orderNumber" type="text" name="orderNumber" id="orderNumber" placeholder="orderNumber">
    </md-input-container>

    <div fxLayout="row" fxLayoutAlign="center center">
        <button color="primary" fxFlex="50%" md-raised-button type="submit" [disabled]="!jetpayForm.form.valid">Submit</button>
    </div>
    <br />
    <hr>
    <md-input-container *ngIf="hash">
        <textarea mdInput placeholder="Auth Hash" class="results" [(ngModel)]="hash" name="hash" id="hash"></textarea>
    </md-input-container>
</form>