<form #calculatorForm="ngForm" (ngSubmit)="generateSignature()" class="form-container" fxLayout="column" fxFlexFill>
    <br />
    <md-input-container>
        <input mdInput [(ngModel)]="url" type="text" id="url" name="url" placeholder="Url" required>
    </md-input-container>
    <div fxLayout="row" fxLayoutAlign="start center">
        <md-checkbox (click)="toggleTimer()" checked="true"></md-checkbox>
        <md-input-container fxFlexOffset="10px">
            <input mdInput #timer [(ngModel)]="timestamp" type="text" name="timestamp" id="timestamp" placeholder="Timestamp" required>
        </md-input-container>
    </div>
    <md-input-container>
        <input mdInput [(ngModel)]="publicKey" type="text" name="publicKey" id="publicKey" placeholder="Public Key" required>
    </md-input-container>

    <md-input-container>
        <input mdInput [(ngModel)]="privateKey" type="text" name="privateKey" id="privateKey" placeholder="Private Key" required>
    </md-input-container>

    <md-input-container>
        <input mdInput [(ngModel)]="username" type="text" name="username" id="username" placeholder="Username">
    </md-input-container>

    <md-input-container>
        <input mdInput [(ngModel)]="domain" type="text" name="domain" id="domain" placeholder="Domain">
    </md-input-container>

    <md-input-container>
        <input mdInput [(ngModel)]="onBehalfOf" type="text" name="onBehalfOf" id="onBehalfOf" placeholder="On Behalf Of">
    </md-input-container>

    <md-input-container>
        <input mdInput [(ngModel)]="httpMethod" type="text" name="httpMethod" id="httpMethod" placeholder="HTTP Method">
    </md-input-container>
    <div fxLayout="row" fxLayoutAlign="center center">
        <button color="primary" fxFlex="50%" md-raised-button type="submit" [disabled]="!calculatorForm.form.valid">Submit</button>
    </div>
    <br />
    <hr>
    <md-input-container *ngIf="header">
        <textarea mdInput placeholder="Authorization Header" class="results" [(ngModel)]="header" name="header" id="header"></textarea>
    </md-input-container>
</form>