.always-float > label{
    top:4px;
    font-size:12px;
}

.inline{
    display:inline;
}
.signature{
    width:100%;
}

.mdl-textfield__error{
    visibility: visible;
    position: relative;
}

.form-container{
    background: #fff;
    margin: 0 3em;
    border-radius: 10px;
}