input{
    width:100%;
}

.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: rbga(0,0,0,.87);
}

main{
  margin-top: 2em;
}
.title{
  width:100%;
  text-align: center;
  color: rebeccapurple;
}