@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    font-size: 12px;
}
.form-container {
    padding: 1em
}

.results {
    width: 100%;
}

@media (min-width: 480px) {
    .mat-input-container {
        width: 100%;
    }
}